@(version: String)
<!-- left menu starts -->
			<div class="span2 main-menu-span">
			  <div class="leftbar-menu">	
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
							<li data-rel="tooltip" title="Shows general information and statistics about the BaasBox status"><a class="ajax-link" href="#dashboard"><i class="fa fa-home fa-fw"></i><span class="hidden-tablet"> Dashboard</span></a></li>
						<li class="nav-header hidden-tablet">General</li>
							<li data-rel="tooltip" title="Get/Set many configuration paramenters about BaasBox and your App"><a class="ajax-link" href="#settings"><i class="fa fa-gear fa-fw"></i><span class="hidden-tablet"> Settings</span></a></li>
                            <li data-rel="tooltip" title="Modify which BaasBox API are accessible from the outside world"><a class="ajax-link" href="#permissions"><i class="fa fa-key fa-fw"></i><span class="hidden-tablet"> Api Access</span></a></li>
							<li data-rel="tooltip" title="Manage the database: backup, restore, reset"><a class="ajax-link" href="#dbmanager"><i class="fa fa-database fa-fw"></i><span class="hidden-tablet"> DB Management</span></a></li>
							<li data-rel="tooltip" title="Push Notification Configuration"><a class="ajax-link" href="#push_conf"><i class="fa fa-envelope fa-fw"></i><span class="hidden-tablet"> Push Settings</span></a></li>
						<li class="nav-header hidden-tablet">Plugins</li>
							<li data-rel="tooltip" title="Manage your server scripts"><a class="ajax-link" href="#scripts"><i class="fa fa-puzzle-piece fa-fw"></i><span class="hidden-tablet"> Installed Plugins</span></a></li>		
						<li class="nav-header hidden-tablet">Users</li>
							<li data-rel="tooltip" title="Roles management page"><a class="ajax-link" href="#roles"><i class="fa fa-users fa-fw"></i><span class="hidden-tablet"> Roles</span></a></li>
							<li data-rel="tooltip" title="Users management page"><a class="ajax-link" href="#users"><i class="fa fa-user fa-fw"></i><span class="hidden-tablet"> Users</span></a></li>
						<li class="nav-header hidden-tablet">Data</li>
							<li data-rel="tooltip" title="Manage the collections, a sort of bucket for data objects."><a class="ajax-link" href="#collections"><i class="fa fa-files-o fa-fw"></i><span class="hidden-tablet"> Collections</span></a></li>
							<li data-rel="tooltip" title="Documents are arbitrary objects stored in the collections"><a class="ajax-link" href="#documents"><i class="fa fa-file fa-fw"></i><span class="hidden-tablet"> Documents</span></a></li>
						<li class="nav-header hidden-tablet">Storage</li>
							<li data-rel="tooltip" title="Manage the Files stored on BaasBox"><a class="ajax-link" href="#files"><i class="fa fa-save fa-fw"></i><span class="hidden-tablet"> Files</span></a></li>
							<li data-rel="tooltip" title="Manage the Assets, public data available without authentication"><a class="ajax-link" href="#assets"><i class="fa fa-file-image-o fa-fw"></i><span class="hidden-tablet"> Assets</span></a></li>
						<li class="nav-header hidden-tablet">Help</li>
							<li data-rel="tooltip" title="Take a tour through the main console features"> <a  data-tour="general" class="tour"  ><i class="fa fa-globe fa-fw"></i><span class="hidden-tablet">General Tour</span></a></li>
							<li > <a class="directLink" target="_new" href="http://www.baasbox.com/version/help/doc/@(version.toLowerCase().replaceAll("-snapshot",""))"><i class="fa fa-book fa-fw"></i><span class="hidden-tablet">Online Doc</span></a></li>
							<li data-rel="tooltip" title="Take a look to the tutorial section"> <a target="_blank" href="http://www.baasbox.com/tutorial/" id="tour" class="directLink"><i class="fa fa-terminal fa-fw"></i><span class="hidden-tablet">Tutorial</span></a></li>
							<li data-rel="tooltip" title="Go to our support site"> <a target="_blank" href="http://www.baasbox.com/version/help/support/" id="tour" class="directLink"><i class="fa fa-comments fa-fw"></i><span class="hidden-tablet">Community</span></a></li>
						<li class="nav-header hidden-tablet">Logout</li>
							<li data-rel="tooltip" title="Exit the administration console"> <a class="ajax-link logout"><i class="fa fa-power-off fa-fw"></i><span class="hidden-tablet">Logout</span></a></li>
					</ul>
					<label style="display:none" id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
				</div><!--/.well -->
			  </div><!--/menu-->
			</div><!--/span-->
<!-- left menu ends -->
