@(version: String)
<!-- left menu starts -->
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">Main</li>
							<li><a class="ajax-link" href="#dashboard"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
						<li class="nav-header hidden-tablet">Users</li>
							<li><a class="ajax-link" href="#users"><i class="icon-user"></i><span class="hidden-tablet"> Users</span></a></li>
						<li class="nav-header hidden-tablet">Documents</li>
							<li><a class="ajax-link" href="#collections"><i class="icon-book"></i><span class="hidden-tablet"> Collections</span></a></li>
							<li><a class="ajax-link" href="#documents"><i class="icon-file"></i><span class="hidden-tablet"> Documents</span></a></li>
						<li class="nav-header hidden-tablet">Assets</li>
							<li><a class="ajax-link" href="#assets"><i class="icon-folder-open"></i><span class="hidden-tablet"> Assets</span></a></li>
					</ul>
					<label style="display:none" id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
				</div><!--/.well -->
			</div><!--/span-->
<!-- left menu ends -->