@(version: String)
<!-- topbar starts -->

	@admin.main_.pwdmanagement_.changepwd()

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#" style="cursor: default;"> <img alt="BaasBox" src="img/logo20.png" /> <span>BaasBox</span></a>
				
				<!-- user dropdown starts -->
				<div class="btn-group pull-right" >
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone"><span id="username"></span></span>
						<span class="caret"></span>
					</a>
					<ul data-rel="tooltip" title="You profile" class="dropdown-menu">
						<li><a href="#" class="btn-changepwd">Change Password</a></li>
						<li class="divider"></li>
						<li><a class="logout" href="#">Logout</a></li>
					</ul>
				</div>
				<!-- user dropdown ends -->
				
				<div class="top-nav nav-collapse">
					<ul class="nav">
						<li><a style="cursor: default;">Version <span id="currentVersion">@version</span></a></li>
						<li data-rel="tooltip" title="Visit the BaasBox official site"><a target="_new" href="http://www.baasbox.com">Go to the Official Site</a></li>
						<li>
							<form class="navbar-search pull-left">
								<!-- <input placeholder="Search" class="search-query span2" name="query" type="text">  -->
							</form>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<!-- topbar ends -->
