#dbmanager .actions{
	margin:7px 0 31px 0;
}

p.errors{
 color:red;
 font-size:14px;
}

p.title {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 27px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

p.hint{
	display: block;
	top: -10px;
	position: relative;
	font-style: italic;
	color: #777;
}

div.settings{
	margin-bottom:24px;
}
div.setting {
	margin-bottom:12px;
}
div.setting p {
	margin:0 0 3px 0;
}
div.setting button.save {
	margin-top:-10px;
}
div.setting span.error{
	color:red;
	padding-left:12px;
}

div.setting div.uploaded{
	background-color:#aeaeae;
	padding:3px;
	margin-bottom:13px;
}
div.setting input[type=file]{
	clear:left;
	display:block;
}

div.setting button.upload {
	margin-top:0;
}