@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
   	src: url('Lato-Bol.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-RegIta.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-BolIta.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'fjalla';
    src: url('FjallaOne-Regular.otf') format('opentype');
}
.nav-tabs li.active:first-child a{
  border-left:0px;
}

#currentVersion{
	font-size:13px;
	padding-right:20px;
	color:rgb(14, 15, 15);	
}

#dbmanager .actions{
	margin:7px 0 31px 0;
}

p.errors{
 color:red;
 font-size:14px;
}

#login .help-inline {
	margin-bottom: 12px;
}

p.title {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 27px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

p.hint{
	display: block;
	top: -10px;
	position: relative;
	font-style: italic;
	color: #777;
}


.social-button-container {
	margin-bottom:15px;
}

.btn-google {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d34332;
  *background-color: #c53727;
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727));
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(to bottom, #dd4b39, #c53727);
  background-repeat: repeat-x;
  border-color: #c53727 #c53727 #85251a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffc53727', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.btn-google.disabled,
.btn-google[disabled] {
  color: #ffffff;
  background-color: #c53727;
  *background-color: #b03123;
}

span.form-saved{
	color:red;
}

.btn-google:active,
.btn-google.active {
  background-color: #9a2b1f \9;
}


div.settings{
	margin-bottom:24px;
}
div.setting {
	margin-bottom:12px;
}
div.setting p {
	margin:0 0 3px 0;
}
div.setting button.save {
	margin-top:-10px;
}
div.setting span.error{
	color:red;
	padding-left:12px;
}

div.setting span.warning{
	color:#e28b22;
	padding-left:12px;
}

div.setting div.uploaded{
	background-color:#aeaeae;
	padding:3px;
	margin-bottom:13px;
}
div.setting input[type=file]{
	clear:left;
	display:block;
}

div.setting button.upload {
	margin-top:0;
}

.box-header > h2 {
    margin: 0;
}
.navbar-inner {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    max-height:62px !important;
}
.navbar .brand, .navbar .nav > li > a {
    color: #2e2727;
    height:40px;
    width:228px;
}
.sidebar-nav {

}

.box-header{
    background: #f5f5f5;
}

.icon-supportbb{
	margin-top:-11px;
}

.rssBody h4 {
	font-size: 13px;
}


/*a {*/
    /*text-decoration: none;*/
    /*color: #538378;*/
    /*font-family: 'lato' sans-serif;*/
/*}*/
/*a:hover {*/
    /*color: #2f2828;*/
/*}*/

/*.breadcrumb {*/
    /*background: #d7d1b7;*/
    /*-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
    /*-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
    /*box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
/*}*/
/*.alert {*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
    /*border: none;*/

/*}*/

/*.alert-info {*/
    /*background-color: #e5dfc3;*/
    /*color: #7f7c6d;*/
/*}*/


/*.label-success, .badge-success{*/
    /*background-color: #538378;*/
/*}*/

/*.label-important, .badge-important{*/
    /*background-color: #7b3d35;*/
/*}*/
.box, .breadcrumb {

}

.box-header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
.sidebar-nav {
    /*box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*-webkit-box-shadow: none;*/
}

/*.bb-main-container{*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/
/*@media(min-width: 768px) {*/
    /*.main-menu-span {*/
        /*margin-right: 0 !important;*/
    /*}*/
    /*#content{*/
        /*margin-left: 0;*/
        /*width: 93.8%;*/
    /*}*/
/*}*/
/*@media(min-width: 980px) {*/
    /*#content {*/
        /*margin-left: 0;*/
        /*width: 85.10638298%;*/
    /*}*/
/*}*/
/*@media (min-width: 1200px) {*/
    /*#content {*/
        /*margin-left: 0.9%;*/
        /*width: 84.57008547%;*/
    /*}*/
/*}*/

/* CSS for Header Section */

.mainmenu .menuwrapper .menulist {
    display: inline-block;
    float: right;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
}

nav {
    display: block;
    float: right;
}

.mainmenu .menuwrapper {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
}

.mainmenu {
    background-color: #538378;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    left: 0;
    height: 73px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
    margin-top:-6px !important;
}

.mainmenu .menuwrapper .menulist ul li a {
  color: #fff;
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0 0.5em;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration:none;
  font-family:Lato-Regular, sans-serif !important;
  font-size:17px;
  margin-top:8px;
}
.mainmenu .menuwrapper .menulist ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.mainmenu .menuwrapper .menulist ul li a:active {
  background: rgba(255, 255, 255, 0.2);
}

.mainmenu .menuwrapper .menulist ul li {
	float: left;
    list-style: none outside none;
}

.mainmenu .menuwrapper .menulist {
    text-align: center;
    margin-right:250px;
    float:right;
    display: inline-block;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
}

.mainmenu .menuwrapper .logoblock {
    display: inline-block;
    left: 0;
    padding: 0.8em 1em;
    position: absolute;
}
.mainmenu .menuwrapper .logoblock .companylogo {
  max-height: 40px;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left:40px;
  margin-top:3px;
}
.mainmenu .menuwrapper .logoblock .companylogo:hover {
  opacity: 0.7;
}

.leftbar-menu {
	margin-left:-20px !important;
	margin-top:-6px !important;
	border:none !important;
}

.navbar-inner {
	background-color:#538378 !important;
}

.navbar .btn, .navbar .btn-group {
	margin-top:20px;
	margin-right:-755px;
}

.deleteExport{
	margin-right:0px !important;
} 

.downloadExport{
	margin-right:0px !important;
} 

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	margin-right:-100px;
}

.well {
	background-color: #F2F2F2;
}

.nav-tabs.nav-stacked > li > a {
	border:none !important;
}

.nav.nav-tabs.nav-stacked.main-menu > li > a {
	color:#000000 !important;
}

.nav-tabs.nav-stacked.main-menu > .active > a {
	background-color:#999999 !important;
}

img.companylogo {
	height:40px;
	width:228px;
	margin-top:-1px;
	margin-left:53px;
}

.logLine {
    line-height: 12px;
    padding: 1px 0 !important;
    margin-top: 2px !important;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #696a63;
}

.errorBoxText {
    margin: 8px;
    color: #F00;
}

.plugin .item{
	cursor: pointer;
	margin-top: 0px;
}

.plugin .name{
	cursor: pointer;
	margin-top: 0px;
	font-weight: bold;
	font-size:14px;
}

.plugin .action{
	font-size:11px;
}
.box-content ul.plugin{
	margin:-10px;
}

li.plugin.selected{
	background-color: rgba(183, 200, 183, 0.19);
}

li.plugin{
	padding:10px !important;
}

li.plugin.deactivated{
	color:#8B8989 !important;
	font-style:italic;
}

.well{
	padding-left: 10px;
}

.trim-info {
      max-width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      position: relative;
   }
.black{
	color:black;
}