				<div class="box span11">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-gear"></i> Settings</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
						</div>
					</div> 
					<div class="box-content">
						<ul class="nav nav-tabs" id="settingsTab">
							<li class="active"><a href="#application">Application</a></li>
							<li><a href="#password-recovery">Password Recovery</a></li>
							<li><a href="#images">Images</a></li>
							<li><a href="#push">Push Notifications</a></li>
							<li><a href="#social">Social Login</a></li>
						</ul>
						<div id="settingsTabContent" class="tab-content">
							<div class="tab-pane active" id="application">
								<table id="settingsTable" class="table table-striped table-bordered bootstrap-datatable datatable">
					  				<thead>
						  				<tr>
							 				<th>Key</th>
							 				<th>Description</th>
							  				<th>Value</th>
							  				<th>Actions</th>
						  				</tr>
					  				</thead>   
								</table>
							</div><!-- Application Pane-->
							<div class="tab-pane" id="password-recovery">
									<table id="settingsPwdTable" class="table table-striped table-bordered bootstrap-datatable datatable">
					  				<thead>
						  				<tr>
							 				<th>Key</th>
							 				<th>Description</th>
							  				<th>Value</th>
							  				<th>Actions</th>
						  				</tr>
					  				</thead>   
								</table>
							</div><!-- Password Recovery Pane-->							
							<div class="tab-pane" id="images">
									<table id="settingsImgTable" class="table table-striped table-bordered bootstrap-datatable datatable">
					  				<thead>
						  				<tr>
							 				<th>Key</th>
							 				<th>Description</th>
							  				<th>Value</th>
							  				<th>Actions</th>
						  				</tr>
					  				</thead>   
								</table>
							</div><!-- Push Pane-->
							<div class="tab-pane" id="push">
									<table id="settingsPushTable" class="table table-striped table-bordered bootstrap-datatable datatable">
					  				<thead>
						  				<tr>
							 				<th>Key</th>
							 				<th>Description</th>
							  				<th>Value</th>
							  				<th>Actions</th>
						  				</tr>
					  				</thead>   
								</table>
							</div><!-- Push Pane-->
							<div class="tab-pane" id="social">
								
								<div >
									<div ng-repeat="(name,config) in sociallogins" >
 										
										<div ng-show="config.enabled">
											<form class="form-horizontal" id="{{name}}-tokens" name="{{name}}-tokens" ng-submit="postsocialsettings(name)">
												<fieldset>
													<legend>{{name}}</legend>
													<div  ng-show="config.errors.length > 0">
 														<p class="error" ng-repeat="err in config.errors">
 															{{err}}
 														</p>
 													</div>
													<input type="text" ng-model="config.token" name="token"/>
													<input type="text" ng-model="config.secret" name="secret" />
													<input class="btn btn-primary" type="submit" value="Save"/>
													<button type="button" class="btn btn-warning" ng-click="disable(name)" >Disable {{name}}</button>
												</fieldset>
											</form>
										</div>
										<div ng-show="!config.enabled" >
											<button class="btn btn-{{name}}" ng-click="showForm(name)">Connect with {{name}}</button>
										</div>
									</div>
								</div>
							</div>
				
							</div><!-- Social Pane-->							
						</div><!-- tab-content -->
					</div><!--/box-content-->
				</div><!--/span-->

