<div>				
				<p class="hint">
					This is the settings page. <br />From here you can customize many aspects of your BaasBox instance.
				</p>
				<div class="box span11">
					<div data-rel="tooltip" title="Select a tab to access the related settings" class="box-header well" data-original-title>
						<h2><i class="icon icon-darkgray icon-gear"></i> Settings</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
						</div>
					</div> 
					<div class="box-content">
						<ul class="nav nav-tabs" id="settingsTab">
							<li data-rel="tooltip" title="Application related settings" class="active"><a href="#application">Application</a></li>
							<li data-rel="tooltip" title="Settings related to the 'Password Recovery' feature" ><a href="#password-recovery">Password Recovery</a></li>
							<li data-rel="tooltip" title="Useful settings for the 'Automatic Image Resize' feature" ><a href="#images">Images</a></li>
							<!-- <li data-rel="tooltip" title="Settings for the 'Push Notification' feature" ><a href="#push">Push Notifications</a></li>-->
							<li data-rel="tooltip" title="Settings for the Integration with other social networks"><a href="#social">Social Login</a></li>
						</ul>
						<div id="settingsTabContent" class="tab-content">
							<div class="tab-pane active" id="application">
								<table id="settingsTable" class="table table-striped table-bordered bootstrap-datatable datatable">
					  				<thead>
						  				<tr>
							 				<th>Key</th>
							 				<th>Description</th>
							  				<th>Value</th>
							  				<th>Actions</th>
						  				</tr>
					  				</thead>   
								</table>
							</div><!-- Application Pane-->
							<div class="tab-pane" id="password-recovery">
									<table id="settingsPwdTable" class="table table-striped table-bordered bootstrap-datatable datatable">
					  				<thead>
						  				<tr>
							 				<th>Key</th>
							 				<th>Description</th>
							  				<th>Value</th>
							  				<th>Actions</th>
						  				</tr>
					  				</thead>   
								</table>
							</div><!-- Password Recovery Pane-->							
							<div class="tab-pane" id="images">
									<table id="settingsImgTable" class="table table-striped table-bordered bootstrap-datatable datatable">
					  				<thead>
						  				<tr>
							 				<th>Key</th>
							 				<th>Description</th>
							  				<th>Value</th>
							  				<th>Actions</th>
						  				</tr>
					  				</thead>   
								</table>
							</div><!-- Push Pane-->
							<!-- DEPRECATED 
							<div class="tab-pane" id="push" data-ng-controller="PushSettingsController">
									
									<div class="settings push">
										<h3>Sandbox Mode</h3>
											<p>{{pushData['push'][0].description}}</p>
											<span ng-show="!isSandboxMode()"><button ng-click="sandboxMode(true)" type="button" class="btn btn-success" >Enable Sandbox Mode</button></span>
											<span ng-show="isSandboxMode()"><button ng-click="sandboxMode(false)" type="button" class="btn btn-danger">Disable Sandbox Mode</button></span>
									</div>
									
									<div class="settings android">
										<h3>android</h3>
										<div class="setting" ng-repeat="s in pushData['android'] | filter:{file:false}">
											<p>{{s.description}}</p>
											<input type="text" ng-model="s.value"/>
											<button type="button" ng-click="updateInlineSetting('Push',s)" class="btn btn-primary save">Save</button><span ng-show="s.error!=null" class="error"> {{s.error}} </span>
										</div>
										
									</div>
										
									<div class="settings ios">
										<h3>ios</h3>
										<div class="setting" ng-repeat="s in pushData['ios'] | filter:{file:false}">
											<p>{{s.description}}</p>
											<input type="text" ng-model="s.value"/>
											<button type="button" ng-click="updateInlineSetting('Push',s)" class="btn btn-primary save">Save</button>
											<span ng-show="s.error!=null" class="error"> {{s.error}} </span>
										</div>
										
										<div ng-repeat="s in pushData['ios'] | filter:{file:true}" class="setting">
											<p>{{s.description}}</p>
											<form name="{{keyName(s.key)}}" id="{{keyName(s.key)}}" method="PUT">
												<div class="uploaded span7" data-ng-show="s.value">A file is already present:<strong>{{s.filename}}</strong></div>
												<input data-no-uniform="true" accept=".p12" type="file" id="{{keyName(s.key)}}-file" class="input-xlarge" ng-model-instant name="file"  onchange="angular.element(this).scope().setFiles(this)"/>
												<button type="button" class="btn btn-primary upload" ng-click="updateFileSetting('Push',s)">Upload</button>
												<span ng-show="s.error!=null" class="error"> {{s.error}} </span>
											</form>
										</div>
									</div>		
								
							</div>
							-->
							<!-- Push Pane-->
							<div class="tab-pane" id="social">
								
								<div >
									<div ng-repeat="(name,config) in sociallogins" >
 										
										<div ng-show="config.enabled">
											<form class="form-horizontal" novalidate id="{{name}}-tokens" name="{{name}}-tokens" ng-submit="postsocialsettings(name)">
												<fieldset>
													<legend>{{name}}</legend>
													<span ng-show="!config.saved" class="form-saved pull-right">not saved yet </span>
													<div  ng-show="config.errors.length > 0">
 														<p class="error" ng-repeat="err in config.errors">
 															{{err}}
 														</p>
 													</div>
 													<div class="field">
 														<label>Token:
															<input type="text" ng-model="config.token" name="token" required/>
														</label>
													</div>
													<div class="field">
														<label>Secret:
															<input type="text" ng-model="config.secret" name="secret" required/>
														</label>
													</div>
													<input class="btn btn-primary" type="submit" value="Save"/>
													<button type="button" class="btn btn-warning" ng-click="disable(name)" >Disable {{name}}</button>
												</fieldset>
											</form>
										</div>
										<div ng-show="!config.enabled" class="social-button-container" >
											<button class="btn btn-{{name}}" ng-click="showForm(name)">Connect with {{name}}</button>
										</div>
									</div>
								</div>
							</div>
				
							</div><!-- Social Pane-->							
						
							
										
														
						</div><!-- tab-content -->
					</div><!--/box-content-->
				</div><!--/span-->

