<p class="hint">
    blablabla
</p>
<div class="box span11">
				    <div class="box-header well">
				        <h2><i class="icon-envelope"></i> Push Notification Settings</h2>
				        <div class="box-icon">
				            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				        </div>
				    </div>
    				<div class="box-content">
    					<div class="box span4">
    						<div  class="box-header well" >
								<h2><i class="icon-file"></i> Profile 1 (Default)</h2>
							</div>
							<div class="box-content" id="push_conf" ng-controller="PushConfController">
							<div class="control-group">
								<div class="controls">
									This profile is 
										<strong>
											<span ng-show="!isEnabled(1)">DISABLED</span>
											<span ng-show="isEnabled(1)">ENABLED</span>
										</strong>
									<br />
										<div ng-show="!isEnabled(1)">	
											<button ng-click="updateInlineSetting(getEnableKey(1),'true')" type="button" class="btn btn-success" >Enable Profile</button>
										</div>
										<div ng-show="isEnabled(1)">
											<button ng-click="updateInlineSetting(getEnableKey(1),'false')" type="button" class="btn btn-danger">Disable Profile</button>
										</div>
											
								  <div style="clear:both"></div>
								  <br />
								  Environment selected is 
										<strong>
											<span class="red" ng-show="!isSandbox(1)">PRODUCTION</span>
											<span ng-show="isSandbox(1)">SANDBOX</span>
										</strong>
								 <br />
										<div ng-show="!isSandbox(1)">	
											<button ng-click="updateInlineSetting(getSandboxKey(1),'true')" type="button" class="btn btn-success" >Enable SANDBOX</button>
										</div>
										<div ng-show="isSandbox(1)">
											<button ng-click="updateInlineSetting(getSandboxKey(1),'false')" type="button" class="btn btn-danger">GO TO PRODUCTION</button>
										</div>
										
								  <div class="settings android">
										<h3>Android</h3>
										<div class="setting">
											<h4>SANDBOX</h4>
											<p>{{getSandboxAndroidKey(1).description}}</p>
											<input type="text" ng-model="getSandboxAndroidKey(1).value"/>
											<button type="button" ng-click="updateInlineSetting(getSandboxAndroidKey(1))" class="btn btn-primary save">Save</button>
											<span ng-show="getSandboxAndroidKey(1).error!=null" class="error"> {{getSandboxAndroidKey(1).error}} </span>
										</div>
										<div class="setting">
											<h4>PRODUCTION</h4>
											<p>{{getProductionAndroidKey(1).description}}</p>
											<input type="text" ng-model="getProductionAndroidKey(1).value"/>
											<button type="button" ng-click="updateInlineSetting(getProductionAndroidKey(1))" class="btn btn-primary save">Save</button>
											<span ng-show="getProductionAndroidKey(1).error!=null" class="error"> {{getProductionAndroidKey(1).error}} </span>
										</div>
								  </div> <!-- Android Settings -->
								  
								  
								  
								  
								  <div class="settings ios">
										<h3>iOS</h3>
										<div class="setting">
											<p>{{getIOSTimeout(1).description}}</p>
											<input type="text" ng-model="getIOSTimeout(1).value"/>
											<button type="button" ng-click="updateInlineSetting(getIOSTimeout(1))" class="btn btn-primary save">Save</button>
											<span ng-show="ggetIOSTimeout(1).error!=null" class="error"> {{getIOSTimeout(1).error}} </span>
										
											<h4>SANDBOX</h4>
												<p>{{getSandboxIOSCertificate(1).description}}</p>
												<form name="{{keyName(getSandboxIOSCertificate(1).key)}}" id="{{keyName(getSandboxIOSCertificate(1).key)}}" method="PUT">
													<div class="uploaded span7" ng-model="data" data-ng-show="getSandboxIOSCertificate(1).value">A file is already present: <strong>{{getSandboxIOSCertificate(1).filename}}</strong></div>
													<input data-no-uniform="true" accept=".p12" type="file" id="{{getSandboxIOSCertificate(1).key}}-file" class="input-xlarge" ng-model-instant name="file"  onchange="angular.element(this).scope().setFiles(this)"/>
													<button type="button" class="btn btn-primary upload" ng-click="updateFileSetting(getSandboxIOSCertificate(1))">Upload</button>
													<span ng-show="getSandboxIOSCertificate(1).error!=null" class="error"> {{getSandboxIOSCertificate(1).error}} </span>
												</form>
												<p>{{getSandboxIOSCertificatePassword(1).description}}</p>
												<input type="text" ng-model="getSandboxIOSCertificatePassword(1).value"/>
												<button type="button" ng-click="updateInlineSetting(getSandboxIOSCertificatePassword(1))" class="btn btn-primary save">Save</button>
												<span ng-show="getSandboxIOSCertificatePassword(1).error!=null" class="error"> {{getSandboxIOSCertificatePassword(1).error}} </span>
										</div>
										<div class="setting">
											<h4>PRODUCTION</h4>
												<p>{{getProductionIOSCertificate(1).description}}</p>
												<form name="{{keyName(getProductionIOSCertificate(1).key)}}" id="{{keyName(getProductionIOSCertificate(1).key)}}" method="PUT">
													<div class="uploaded span7" ng-model="data" data-ng-show="getProductionIOSCertificate(1).value">A file is already present: <strong>{{getProductionIOSCertificate(1).filename}}</strong></div>
													<input data-no-uniform="true" accept=".p12" type="file" id="{{getProductionIOSCertificate(1).key}}-file" class="input-xlarge" ng-model-instant name="file"  onchange="angular.element(this).scope().setFiles(this)"/>
													<button type="button" class="btn btn-primary upload" ng-click="updateFileSetting(getProductionIOSCertificate(1))">Upload</button>
													<span ng-show="getProductionIOSCertificate(1).error!=null" class="error"> {{getProductionIOSCertificate(1).error}} </span>
												</form>
												<p>{{getProductionIOSCertificatePassword(1).description}}</p>
												<input type="text" ng-model="getProductionIOSCertificatePassword(1).value"/>
												<button type="button" ng-click="updateInlineSetting(getProductionIOSCertificatePassword(1))" class="btn btn-primary save">Save</button>
												<span ng-show="getProductionIOSCertificatePassword(1).error!=null" class="error"> {{getProductionIOSCertificatePassword(1).error}} </span>
										</div>
								  </div> <!-- iOS Settings -->
								</div>
							</div><!-- control group -->
						</div><!-- Push Pane (box-content)-->
			</div><!-- box span4 -->
    </div><!-- box content -->
</div>