<p class="hint">
    This is the Push Notifications Settings Page. From here you can configure up to three App (AKA Profiles) that can receive Push Notifications from this BaasBox.
</p>
<div class="box span11">
				    <div class="box-header well">
				        <h2><i class="icon-envelope"></i> Push Notifications Settings</h2>
				        <div class="box-icon">
				            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				        </div>
				    </div>
    				<div class="box-content" id="push_conf" ng-controller="PushConfController">
    					<div data-ng-repeat="i in [1,2,3]">
    					<div class="box span4" style="margin-right:17px !important">
    						<div  class="box-header well" >
								<h2><i class="icon-file"></i> Profile {{$index+1}} <span ng-show="$index == 0"">(Default)</span></h2>
							</div>
							<div class="box-content">
							<div class="control-group">
								<div class="controls">
									This profile is 
										<strong>
											<span ng-show="!isEnabled($index+1)">DISABLED</span>
											<span ng-show="isEnabled($index+1)">ENABLED</span>
										</strong>
									<br />
										<div ng-show="!isEnabled($index+1)">	
											<button ng-click="updateInlineSetting(getEnableKey($index+1),'true')" type="button" class="btn btn-success" >Enable Profile</button>
										</div>
										<div ng-show="isEnabled($index+1)">
											<button ng-click="updateInlineSetting(getEnableKey($index+1),'false')" type="button" class="btn btn-danger">Disable Profile</button>
										</div>
											
								  <div style="clear:both"></div>
								  <br />
								  Environment selected is 
										<strong>
											<span class="red" ng-show="!isSandbox($index+1)">PRODUCTION</span>
											<span ng-show="isSandbox($index+1)">SANDBOX</span>
										</strong>
								 <br />
										<div ng-show="!isSandbox($index+1)">	
											<button ng-click="updateInlineSetting(getSandboxKey($index+1),'true')" type="button" class="btn btn-success" >Enable SANDBOX</button>
										</div>
										<div ng-show="isSandbox($index+1)">
											<button ng-click="updateInlineSetting(getSandboxKey($index+1),'false')" type="button" class="btn btn-danger">GO TO PRODUCTION</button>
										</div>
										
								  <div class="settings android">
										<h3>Android</h3>
										<div class="setting">
											<h4>SANDBOX</h4>
											<p>{{getSandboxAndroidKey($index+1).description}}</p>
											<input type="text" ng-model="getSandboxAndroidKey($index+1).value"/>
											<button type="button" ng-click="updateInlineSetting(getSandboxAndroidKey($index+1))" class="btn btn-primary save">Save</button>
											<span ng-show="getSandboxAndroidKey($index+1).error!=null" class="error"> {{getSandboxAndroidKey($index+1).error}} </span>
										</div>
										<div class="setting">
											<h4>PRODUCTION</h4>
											<p>{{getProductionAndroidKey($index+1).description}}</p>
											<input type="text" ng-model="getProductionAndroidKey($index+1).value"/>
											<button type="button" ng-click="updateInlineSetting(getProductionAndroidKey($index+1))" class="btn btn-primary save">Save</button>
											<span ng-show="getProductionAndroidKey($index+1).error!=null" class="error"> {{getProductionAndroidKey($index+1).error}} </span>
										</div>
								  </div> <!-- Android Settings -->
								  
								  
								  
								  
								  <div class="settings ios">
										<h3>iOS</h3>
										<div class="setting">
											<p>{{getIOSTimeout($index+1).description}}</p>
											<input type="text" ng-model="getIOSTimeout($index+1).value"/>
											<button type="button" ng-click="updateInlineSetting(getIOSTimeout($index+1))" class="btn btn-primary save">Save</button>
											<span ng-show="ggetIOSTimeout($index+1).error!=null" class="error"> {{getIOSTimeout($index+1).error}} </span>
										
											<h4>SANDBOX</h4>
												<p>{{getSandboxIOSCertificate($index+1).description}}</p>
												<form name="{{keyName(getSandboxIOSCertificate($index+1).key)}}" id="{{keyName(getSandboxIOSCertificate($index+1).key)}}" method="PUT">
													<div class="uploaded span7" ng-model="data" data-ng-show="getSandboxIOSCertificate($index+1).value">A file is already present: <strong>{{getSandboxIOSCertificate($index+1).filename}}</strong></div>
													<input data-no-uniform="true" accept=".p12" type="file" id="{{getSandboxIOSCertificate($index+1).key}}-file" class="input-xlarge" ng-model-instant name="file"  onchange="angular.element(this).scope().setFiles(this)"/>
													<button type="button" class="btn btn-primary upload" ng-click="updateFileSetting(getSandboxIOSCertificate($index+1))">Upload</button>
													<span ng-show="getSandboxIOSCertificate($index+1).error!=null" class="error"> {{getSandboxIOSCertificate($index+1).error}} </span>
												</form>
												<p>{{getSandboxIOSCertificatePassword($index+1).description}}</p>
												<input type="text" ng-model="getSandboxIOSCertificatePassword($index+1).value"/>
												<button type="button" ng-click="updateInlineSetting(getSandboxIOSCertificatePassword($index+1))" class="btn btn-primary save">Save</button>
												<span ng-show="getSandboxIOSCertificatePassword($index+1).error!=null" class="error"> {{getSandboxIOSCertificatePassword($index+1).error}} </span>
										</div>
										<div class="setting">
											<h4>PRODUCTION</h4>
												<p>{{getProductionIOSCertificate($index+1).description}}</p>
												<form name="{{keyName(getProductionIOSCertificate($index+1).key)}}" id="{{keyName(getProductionIOSCertificate($index+1).key)}}" method="PUT">
													<div class="uploaded span7" ng-model="data" data-ng-show="getProductionIOSCertificate($index+1).value">A file is already present: <strong>{{getProductionIOSCertificate($index+1).filename}}</strong></div>
													<input data-no-uniform="true" accept=".p12" type="file" id="{{getProductionIOSCertificate($index+1).key}}-file" class="input-xlarge" ng-model-instant name="file"  onchange="angular.element(this).scope().setFiles(this)"/>
													<button type="button" class="btn btn-primary upload" ng-click="updateFileSetting(getProductionIOSCertificate($index+1))">Upload</button>
													<span ng-show="getProductionIOSCertificate($index+1).error!=null" class="error"> {{getProductionIOSCertificate($index+1).error}} </span>
												</form>
												<p>{{getProductionIOSCertificatePassword($index+1).description}}</p>
												<input type="text" ng-model="getProductionIOSCertificatePassword($index+1).value"/>
												<button type="button" ng-click="updateInlineSetting(getProductionIOSCertificatePassword($index+1))" class="btn btn-primary save">Save</button>
												<span ng-show="getProductionIOSCertificatePassword($index+1).error!=null" class="error"> {{getProductionIOSCertificatePassword($index+1).error}} </span>
										</div>
								  </div> <!-- iOS Settings -->
								</div>
							</div><!-- control group -->
						</div><!-- Push Pane (box-content)-->
			</div><!-- box span4 -->
			</div><!-- ng-repeat -->
    </div><!-- box content -->
</div>