@(version: String)
<html>
	<head>
		<title>BaasBox v.@version</title>
		<style>
			body
			{
				text-align: center;
			}
			
			.container
			{
				margin-top:15%;
				margin-left: auto;
				margin-right: auto;
			}
			h2{
				color:#255b99;
			}
			.links{
				padding-top:12px;
			}
			.links a,.links a:visited,.links a:link{
				margin:14px 43px 0 0;
				border:2px solid #eaeaea;
				padding:18px;
				font-family:'helvetica'
			}
			
			.links a:hover{
				color:white;
				background-color:#245b98;
			}
		</style>
		<link rel="shortcut icon" href="/console/favicon.ico" />
	</head>
	<body>
		<div class="container">
			
				<p>
					<img src="/console/img/logo_baasbox_lp.png" />
				</p>
				<p>
					<h2>V. @version.toLowerCase().replaceAll("-snapshot","")</h2>
				</p>			
			
				
		</div>
		<div class="links">
			<a href="http://www.baasbox.com/documentation/v.@(version.toLowerCase().replaceAll("-snapshot",""))/introduction">Documentation for Version @version.toLowerCase().replaceAll("-snapshot","")</a>
			<a href="/console">Administration console</a>
		</div>
	</body>
</html>